// Duration.
$fast-transition: 0.2s;
$medium-transition: 0.3s;
$long-transition: 0.6s;

// Font properties
$font-family: 'Open Sans', Arial, sans-serif;
$second-font: Montserrat, Arial, sans-serif;

// Weight
$font-weight: 400;
$font-weight-bold: 600;

// Main colors
$white: #ffffff;
$black: #000000;
$shark: #2b2d35;
$gallery: #efefef;
$ebony-clay: #20232d;
$bright-gray: #323a45;

// Custom colors
$torch-red: #ff1d4d;
$meadow: #1abc9c;
$buttercup: #f1c40f;
$curious-blue: #3498db;
$zest: #e67e22;
$wisteria: #9b59b6;
$caribbean-green: #00c8aa;
$raven: #757a86;
$darky-shark: #0a1a24;

// Secondary colors
$athens-gray: #f2f3f7;
$black-gloss: #292f33;
$lynch: #6c7a89;
$mine-shaft: #333333;
$alabaster: #f8f8f8;
$concrete: #f2f2f2;
$clouds: #ecf0f1;
$silver: #bababa;
$silver-chalice: #b2b2b2;
$dusty-gray: #999999;
$boulder: #777777;
$dove-gray: #747c83;
$light-gray: #f7f7f7;

// Alert forms colors
$green-alert: #27ae60;
$red-alert: #cf000f;

// Social Media Brand Colors */
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$soundcloud: #ff3a00;
$behance: #1769ff;