.page-content {

	height: 100vh;
	width: 100%;
	display: table;

	// Delete max-width Foundation
	// max-width: 100%;

	// Background Image + Dark
	&__img {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: url("../img/general/slide-3.jpg") no-repeat;
		background-color: transparent;
		background-position: top center;
		background-size: cover;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
		}
	}
}


// ------- Left Menu

.left {
	display: table;
	/*height: 100vh;*/
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	&__menu {
		&-buttons {
			display: none;
			position: absolute;
			background-color: transparent;
			border: medium none;
			font-size: 24px;
			color: $white;
			padding: 0px 0px 0px 0px;
			color: rgba(255, 255, 255, 0.8);
			margin: 0;
			top: 6px;
			&:hover {
				color: $white;
				/*z-index: 10;*/
			}
			&_open {
				left: 12px;
			}
			&_close {
				left: 100px;
			}
		}

		&-list {
			&-items {

				display: table-row;

				&:hover {
					background: rgba(255, 255, 255, 0.15);
				}

				&-anchors {
					display: table-cell;
					vertical-align: middle;

					width: 90px;
					height: 12.5vh;

					border: solid 1px rgba(255, 255, 255, 0.4);
					border-top: none;
					box-sizing: border-box;

					background: rgba(255, 255, 255, 0.075);

					font-size: 10px;
					letter-spacing: 1px;
					color: rgba(255, 255, 255, 0.8);
					font-weight: 600;
					text-transform: uppercase;
				}

				&-icons {
					padding-bottom: 4px;
					display: block;
					font-size: 22px;
				}

			}

			&-item {

				&-anchor {

					&_newsletter {
						background: rgba(0, 200, 170, 0.3);
						//border-color: #00c8aa;
						&:hover {
							background: rgba(0, 200, 170, 0.25);
						}
					}

					&_twitter {
						background: rgba(0, 172, 237, 0.3);
						//border-color: #00aced;
						&:hover {
							background: rgba(0, 172, 237, 0.25);
						}
					}

					&_facebook {
						background: rgba(59, 89, 152, 0.3);
						//border-color: #3b5998;
						&:hover {
							background: rgba(59, 89, 152, 0.25);
						}
					}

					&_home {
						border-top: solid 1px rgba(255, 255, 255, 0.4);
					}

					&_blank {
						&:hover {
							background: rgba(255, 255, 255, 0.075);
						}
					}
				}
			}
		}

	}

}


// ------- Header - Right Menu (Languages)
.languages {
	display: table-row;
	height: 5%;
	&__menu {
		display: table-cell;
		vertical-align: top;
		text-align: right;
		padding-top: 10px;
		padding-right: 16px;

		letter-spacing: 0px;
		/*font-family: $second-font;*/
		font-size: 11px;
		font-weight: 600;

		&-list {
			&-items {
				list-style-type: none;
				display: inline-block;
				&-anchors{
					color: rgba(255, 255, 255, 0.4);
					font-weight: 600;
				}
			}
			&-item__en__active {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}


// ------- Main Content
.main {
	display: table-row;
	height: 90%;
	&__content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		// ------- Logo
		&-logo {
			padding-bottom: 12px;
			&-img {
				width: 170px;
				max-width: 170px;
				opacity: 0.9;
			}
		}
		// ------- Text
		&-launchingin {
			color: #FFFFFF;
			font-weight: 700;
			font-size: 50px;
			padding-bottom: 12px;
			white-space: nowrap;
		}
		// ------- Counter
		&-counter {
			//display: table;
			margin: 0 auto;
			max-width: 60%;
			padding-bottom: 4px;
			text-align: justify;
			// years (three digits) to center
			padding-right: 46px;
			&:after {
				width: 100%;
				height: 0;
				visibility: hidden;
				overflow: hidden;
				content: '';
				display: inline-block; }

			&-container {
				//display: table-row;
			}
		}

		// ------- Buttons
		&-buttons-anchors {
			display: inline-block;
			font-family: $second-font;
			border-radius: 3px;
			border: 2px solid;
			color: $white;
			cursor: pointer;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 46px;
			width: 180px;
			margin-left: 4px;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
			&_getnotifed {
				background: rgba(0, 200, 170, 0.5);
				border-color: rgba(0, 200, 170, 0.7);
				&:hover, &:active, &:focus {
					background: #00c8aa;
					color: #FFFFFF !important;
				}
			}
			&_moreinfo {
				background: rgba(255, 255, 255, 0.2);
				border-color: $white;
				&:hover, &:active, &:focus {
					background: rgba(255, 255, 255, 0.3);
					color: #FFFFFF !important;
				}
			}
		}
	}
}

.counter {

	&__items {
		display: inline-block;
		//display: table-cell;
		vertical-align: middle;
		text-align: center;

			&-numbers {

				color: #FFFFFF;
				font-weight: 700;
				font-size: 50px;



				//position: relative;
				//vertical-align: top;
				//display: inline-block;

				&-digits {
					padding: 0px;
					margin: 0px;
					display: inline-block;
					overflow: hidden;
					text-align: center;
					vertical-align: middle;
					height: 50px;
					line-height: 50px;
					letter-spacing: 0px;
				}
			}

			&-titles {
				color: #FFFFFF;
				font-size: 14px;
				font-weight: 400;
				line-height: 28px;
		}
	}
}


// ------- Footer (Copyright)
.footer {
	display: table-row;
	height: 5%;
	&__copyright {
		display: table-cell;
		vertical-align: bottom;
		text-align: right;
		padding-bottom: 10px;
		padding-right: 16px;
		&-anchor {
			font-family: $second-font;
			font-size: 11px;
			letter-spacing: 2px;
			color: rgba(255, 255, 255, 0.7);
			font-weight: 400;
		}
	}
}
