body {
	font-family: Lato, Calibri, Arial, sans-serif;
}

.wrapper {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.menu {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.menu ul ul li {
	/*display: none;*/
}

.menu ul:hover ul li {
	/*display: block;*/
}

.menu__list {
	padding: 0px;
}

.menu__list-items {
	padding: 10px;
	background-color: #007DC7;
	list-style-type: none;
	border: solid 1px black;
	/*border-right: none;*/
	border-bottom: none;
	transition: 0.1s;
	font-weight: bold;
}

.menu__list-items:hover {
	background-color: black;
}

.menu__list-items:nth-last-child(1) {
	/*border-bottom: solid 1px black;*/
	/*border-right: solid 1px black;*/
}

.menu__list-items a {
	color: white;
	text-decoration: none;
}

.menu ul ul li {
	font-weight: normal;
	background-color: #34aac7;
}