// ------- Подключаем шрифты
@import "_fonts.scss";

// ------- Подключаем стили библиотек
@import "_libs.scss";

// ------- Подключаем переменные
@import "_vars.scss";

// ------- Подключаем миксины
@import "_mixins.scss";

// ------- Подключаем спрайты
@import "_sprite.scss";

// ------- Проект

.wrapper {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	max-width: 1170px;
	min-width: 320px;
	background-color: ghostwhite;
}

/** {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}*/

.carousel {
	background-color: silver;
	box-sizing: border-box;

	&__products {
		display: block;
		float: left;
		width: 90%;

		&-images {
			width: 150px;
			height: 150px;
			background: url(../img/smartphone_001.png) 100% 100% no-repeat;
			background-size: cover;
		}
	}

	// <Кругляшки>
	&__dots {
		background-color: whitesmoke;
		position: relative;
		height: 30px;

		&-items {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;

			&-links {
				text-decoration: none;

				&-rounds {
					display: inline-block;
					width: 10px;
					height: 10px;
					background-color: gray;
					border: none;
					border-radius: 50%;

					&_active {
						background-color: black;
					}
				}
			}
		}
	}
	// </Кругляшки>

	// <Стрелки>
	&__nav {
		display: inline-block;
		float: left;
		width: 5%;
		//height: 100px;
		//min-width: 40px;

		&-arrows {
			margin: 0 auto;
			position: relative;
			width: 30px;
			height: 30px;
			background-color: gray;
			border: 1px solid white;
			border-radius: 50%;

			&-links {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				color: white;
				font-weight: normal;
				text-decoration: none;
			}
		}
	}
	// </Стрелки>

}

//body {
//	background-color: #f0efff;
//}
//
//body, form, input, textarea {
//	font-family: Lato, Calibri, Arial, sans-serif;
//	font-size: 16px;
//	box-sizing: border-box;
//}
//
//.wrapper {
//	text-align: center;
//	width: 80%;
//	margin: 0 auto;
//}
//
//.form {
//	margin: 0 auto;
//	margin-top: 20px;
//	max-width: 50%;
//	background: #e7eaed;
//	padding: 20px;
//	border: rgba(0, 0, 0, .3) 1px solid;
//
//	&__text:focus, &__input:focus {
//		outline: none;
//		border: #007dc7 1px solid;
//	}
//
//	&__header {
//		font-size: 18px;
//		font-style: italic;
//	}
//
//	&__message {
//		font-size: 14px;
//		color: #c750ac;
//		font-style: italic;
//	}
//
//	/* Текстовое поле */
//	&__text {
//		font-size: 18px;
//		background: #FFFFFF;
//		width: 100%;
//		min-height: 100px;
//		height: calc(100vh - 520px);
//		border: rgba(0, 0, 0, .3) 1px solid;
//		padding: 10px;
//		margin-top: 10px;
//		margin-bottom: 15px;
//		overflow: hidden;
//		resize: none;
//	}
//
//	/* Поля ввода */
//	&__input {
//		font-size: 18px;
//		height: 50px;
//		width: 100%;
//		border: rgba(0, 0, 0, .3) 1px solid;
//		background: #FFFFFF;
//		padding: 10px;
//		margin-top: 10px;
//		margin-bottom: 10px;
//	}
//
//	/* Кнопки */
//	&__buttons {
//		font-size: 0px!important;
//		text-align: center!important;
//	}
//
//	&__button {
//		font-size: 18px;
//		height: 50px;
//		width: 33%;
//		border: rgba(0, 0, 0, .3) 1px solid;
//		padding: 10px;
//		background: #007dc7;
//		color: #FFF;
//		cursor: pointer;
//		margin-top: 5px;
//
//		&-clear {
//			background: #c750ac;
//		}
//
//		&-load {
//			background: #85c799;
//		}
//	}
//
//}

// ------- Общие стили
@import "_common_styles.scss";

// ------- Стили шапки
@import "modules/_header.scss";

// ------- Стили меню
@import "modules/_menu.scss";

// ------- Стили главной страницы
@import "page/_index.scss";

// ------- Стили футера
@import "modules/_footer.scss";

// ------- Стили медиазапросов
@import "_media.scss";