extends ../layout/main

block title
	| Alexander Shatalov > JavaScript 2 > Lesson 8 > Carousel

block content
	.carousel
		.carousel__content.clearfix
			.carousel__nav
				.carousel__nav-container
					.carousel__nav-arrows
						span.carousel__nav-arrows-links.carousel__nav-arrows-links_left &#60;
			.carousel__products
				.carousel__products-container
					.carousel__products-items
						.carousel__products-items-images
						.carousel__products-items-titles СмартФон 1
						.carousel__products-items-descriptions 32Gb
						.carousel__products-items-prices 10$
						.carousel__products-items-basket В корзину
				.carousel__products-container
					.carousel__products-items
						.carousel__products-items-images
						.carousel__products-items-titles СмартФон 2
						.carousel__products-items-descriptions 32Gb
						.carousel__products-items-prices 20$
						.carousel__products-items-basket В корзину
				.carousel__products-container
					.carousel__products-items
						.carousel__products-items-images
						.carousel__products-items-titles СмартФон 3
						.carousel__products-items-descriptions 32Gb
						.carousel__products-items-prices 30$
						.carousel__products-items-basket В корзину
				.carousel__products-container
					.carousel__products-items
						.carousel__products-items-images
						.carousel__products-items-titles СмартФон 4
						.carousel__products-items-descriptions 32Gb
						.carousel__products-items-prices 40$
						.carousel__products-items-basket В корзину
				.carousel__products-container
					.carousel__products-items
						.carousel__products-items-images
						.carousel__products-items-titles СмартФон 5
						.carousel__products-items-descriptions 32Gb
						.carousel__products-items-prices 50$
						.carousel__products-items-basket В корзину
			.carousel__nav
				.carousel__nav-container
					.carousel__nav-arrows
						span.carousel__nav-arrows-links.carousel__nav-arrows-links_right &#62;
		.carousel__dots
			.carousel__dots-items
				span.carousel__dots-items-links
					.carousel__dots-items-links-rounds.carousel__dots-items-links-rounds_active
				span.carousel__dots-items-links
					.carousel__dots-items-links-rounds
				span.carousel__dots-items-links
					.carousel__dots-items-links-rounds